<strong>Password recovery</strong>

<p>This is a ButterFly password recovery request for the e-mail {{ email }}. If you're not the author, please ignore this e-mail.</p>

<p>To continue with the request, use the token {{ token }} or click the link below:<p>

<a href="{{ link }}">Create new password</a>
